<nav>
  <h3>Wir müssen wissen, wir werden wissen</h3>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <!--<img src="/logo.png" id="logo" alt="Blog logo"/>-->
    {% endif %}
  </a>
  <!--<h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>-->
  <div id="bio">
    <p>I'm Manu Zhang, a software engineer from China</p>
    <p>I play with Data and blog it here.</p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
