<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Manu Zhang" />
    <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" />
  </head>
  <body>
    <div class="site">
      <div class="title">
        <a href="/">Sisyphus happy</a>
        <a class="extra" href="/archive">archive</a>
        <a class="about" href="/about">about</a>
        <a class="code"  href="https://github.com/manuzhang">code</a>
      </div>
      {{content}}
    </div>
  </body>
</html>
